<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Base URL Format</key>
	<string>https://%@.nationbuilder.com</string>
	<key>Client ID</key>
	<string>d69aa7b7ad57efd69c3ef688c15e4318d501612d0c258d7ac92f3f1bb3a539aa</string>
	<key>Nation Slug</key>
	<string>pengtest1</string>
	<key>Should Use HTTP Stubbing</key>
	<true/>
	<key>Test Token</key>
	<string>2be2921dcb1abe3ebf2495b6cc514ba3d91900abb7ad45a8a50aed09e46bc691</string>
	<key>User ID</key>
	<integer>713</integer>
	<key>User Email Address</key>
	<string>peng+tester@nationbuilder.com</string>
</dict>
</plist>
