<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Base URL Format</key>
	<string>http://%@.nbuild.dev</string>
	<key>Client ID</key>
	<string>65b707456300f8d29123cdad3b43eddb53f0ba2f8f31f082dbd9971c2a0c4eec</string>
	<key>Client Secret</key>
	<string>78624b2ff862c76047a298cd14d3834b696339f629a8e480fd217b808de2a6b8</string>
	<key>Nation Slug</key>
	<string>abeforprez</string>
	<key>Test Token</key>
	<string>ba1cd81469f7aaa6912e9f786dd3ba33682f174f3a5cc9a3d7305b8ce54621f0</string>
	<key>User ID</key>
	<integer>578327</integer>
	<key>User Email Address</key>
	<string>peng+test@nationbuilder.com</string>
	<key>User Password</key>
	<string>password</string>
</dict>
</plist>
