<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Base URL Format</key>
	<string>http://%@.nbuild.dev:3000</string>
	<key>Client ID</key>
	<string>f50b9bdc3c976e715c43cb0e91fa527df7e4cbd45c78174db558ba3d90c1876d</string>
	<key>Redirect Path</key>
	<string>oauth/callback</string>
	<key>Test Token</key>
	<string>271b568d52026348e73f413a73925fda590bb28e378dc1254c7827f7a28ceb91</string>
</dict>
</plist>
