<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Base URL Format</key>
	<string>http://%@.nbuild.dev</string>
	<key>Client ID</key>
	<string>65b707456300f8d29123cdad3b43eddb53f0ba2f8f31f082dbd9971c2a0c4eec</string>
	<key>Nation Name</key>
	<string>abeforprez</string>
	<key>Test Token</key>
	<string>9540edf37beb7f12fa9f6d2eda7f315c7ffe0af4cffc60fd8d6ac31df7e3d578</string>
</dict>
</plist>
