<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Base URL Format</key>
	<string>https://%@.nationbuilder.com</string>
	<key>Client ID</key>
	<string>d69aa7b7ad57efd69c3ef688c15e4318d501612d0c258d7ac92f3f1bb3a539aa</string>
	<key>Nation Name</key>
	<string>pengtest1</string>
	<key>Redirect Path</key>
	<string>oauth/callback</string>
	<key>Test Token</key>
	<string>de3e244113b4c8737da10c0fa24486d60e253ff50e41226ba9a368448eb2e065</string>
</dict>
</plist>
